@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html , body {
    margin: 0px;
    scroll-behavior: smooth;
   
}

.header , .header-lower{
    display: flex;
    background-color: #1F2937;
    
}
.header {
    padding-top: 10px;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}   



.header-logo {
    font-size: 40px;
    color: #F9FAF8;
    font-family: 'Roboto' , sans-serif;
    font-weight: 900;
}

.links {
    display: flex;
    font-size: 22px;
    gap: 30px;
   
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.links a:hover {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 22px;
}

.header-lower {
 height: 700px;
 justify-content: center;
 align-items: center;
 gap: 230px;
}

.hero-txt {
    display: flex;
    flex-direction: column;
  font-size: 70px;
  color: #F9FAF8;
  font-weight: 1000;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.secondary-txt {
    font-size: 20px;
    font-weight: 100;
    color: #E5E7EB;
    font-family: Helvetica;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 9px 32px;
    font-size: 26px;
    border-radius: 22px;
}

button:hover , .box button:hover {
    background-color: white;
    color: black;
}

.first {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    
}

.f-heading {
    font-size: 48px;
    color: #1F2937;
    font-weight: 999;
}
.illustrations {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding-bottom: 80px;
}
 
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info img{
   max-width: 300px;
   height: auto;
}

.text {
    padding: 16px 0px;
    font-size: 20px;
    font-weight: 100;
    color: black;
    font-family: Helvetica;
    
}

.quote {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-txt {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.name {
    font-size: 28px;
    font-weight: 900;
    color: black;
    padding-left: 600px;
}

.last {
    height: 200px;
}

.box {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 100px;
    margin: 100px 300px;
    background-color: #3882F6;
    border-radius: 10px;
}
.box-txt1 {
    font-weight: 900;
    padding: 90px;
    font-size: 26px;
    color: #F9FAF8;
}

.text-2 {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

.box button {
    margin-right: 60px;
    background-color: white;
    color: #3882F6;
    font-weight: 900;

}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #F9FAF8;
    height: 80px;
    background-color: #1F2937;
}